{
  "extends": "airbnb",
  "installedESLint": true,
  "rules": {
      "consistent-return": 0,
      "no-use-before-define": 0,
      "no-mixed-operators": 0,
      "import/no-unresolved": 0,
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      "import/prefer-default-export": 0,
      "react/jsx-no-bind": 0,
      "react/no-string-refs": 0,
      "react/prefer-stateless-function": 0,
      "react/self-closing-comp": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/no-extraneous-dependencies": 0,
      "no-global-assign": 0,
      "no-unsafe-negation": 0
    },
  "plugins": [
    "react",
    "import"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
